<h1>Sửa</h1>
<form action="/update" method="post">

    <table border="1">
        <tr>
            <th>LABLE</th>
            <th>VALUE</th>
        </tr>
        <tr>
            <td>ID:</td>
            <td><input type="text" name="id" value="<% custommers1.id %>"></td>
        </tr>
        <tr>
            <td>LatLong:</td>
            <td><input type="text" name="latlong" value="<% custommers1.latlong %>"></td>
        </tr>
        <tr>
            <td>Role:</td>
            <td><input type="text" name="role" value="<% custommers1.role %>"></td>
        </tr>
        <tr>
            <td>OpenHour:</td>
            <td><input type="text" name="openhour" value="<% custommers1.openhour %>"></td>
        </tr>
        <tr>
            <td>DefaultAccount:</td>
            <td><input type="text" name="defaultacount" value="<% custommers1.defaultacount %>"></td>
        </tr>
        <tr>
            <td>TokenLogin:</td>
            <td><input type="text" name="token" value="<% custommers1.token %>"></td>
        </tr>
        <tr>
            <td>FCMLogin:</td>
            <td><input type="text" name="fcm" value="<% custommers1.fcm %>"></td>
        </tr>

    </table>
    <button type="submit">Sửa</button>

    <!-- IDProvince: <input type="text" name="id" value="<%= usertwo.id %>"><br>
    EnableFCM: <input type="number" name="enable" value="<%= usertwo.enable %>"><br>
    Avarta: <input type="text" name="avarta" value="<%= usertwo.avarta %>"><br>
    Banner: <input type="text" name="banner" value="<%= usertwo.banner %>"><br>
    Full name: <input type="text" name="fname" value="<%= usertwo.fname %>"><br>
    Type User: <input type="number" name="type" value="<%= usertwo.type %>"><br> -->


</form>