<!DOCTYPE html>
<html>
  <head>
    <title>ds</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Danh Sách</h1>
    <a href="/form-add"><button type="submit">Thêm Mới</button></a>
    <table border="1">
      <tr>
        <th>DevinceId</th>
        <th>LatLong</th>
        <th>Role</th>
        <th>OpenHour</th>
        <th>DefaultAccount</th>
        <th>TokenLogin</th>
        <th>FCMLogin</th>
        <th>Acction</th>
      </tr>
      <% custommers.forEach(item => {%>
        <tr>
          <td><%= item._id %></td>
          <td><%= item.latlong %></td>
          <td><%= item.role %></td>
          <td><%= item.openhour %></td>
          <td><%= item.defaultacount %></td>
          <td><%= item.token %></td>
          <td><%= item.fcm %></td>
          <td><a href="/form-update/<%= item._id %>">Update</a>||<a href="/form-delete/<%= item._id %>">Delete</a></td>
        </tr>
      <%})%>
    </table>
  </body>
</html>
